<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <h1 id="home-page-title"">George Lucas</h1>
    <div id="george-img-div">
        <img  id='george-img' src="../images/glb9.jpeg" alt="">
        <h2 id="george-info">George Walton Lucas Jr. (born May 14, 1944) is an American film director, producer, screenwriter, and entrepreneur. Lucas is best known for creating the Star Wars and Indiana Jones franchises and founding Lucasfilm, LucasArts, and Industrial Light & Magic.</h2>
    </div>
    <div id="home-div">
    <a href="/home"> Back to home</a>
    </div>
</body>
</html>