<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <div id="title-id">
    <h1 id="home-page-title"> <img id='dv-image' src="../images/dv.svg" alt=""> home <img id='dv-image' src="../images/dv.svg" alt=""></h1>
    <h1 id="welcome">Welcome to the Star Wars page</h1>
</div>

<div id="links">
    <a href="/works"> Planets </a> 
    <a href="/about"> Characters </a>
    <a href="/about-the-author"> About the author </a>
</div>

</body>
</html>