<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <div id='planets'>
    <h1><img id='dv-image' src="../images/dv.svg" alt="">Planets<img id='dv-image' src="../images/dv.svg" alt=""></h1>

    <div id="planets-div">

    </div>
    <a href="/home"> Back to home</a>

    <script src="/planets.js"></script>
</div>
</body>
</html>